html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F0EFE2 url(../images/background.png) repeat;
  color: #777;}

p
{ padding: 0 0 10px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #43423F;
  padding: 15px 0 5px 0;}

h2, h3
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #1293EE;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #1293EE;}

h5, h6
{ font: italic 95% arial, sans-serif;
  padding: 0 0 15px 0;
  color: #000;}

h6
{ color: #362C20;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #FD5BFF;}

a:hover
{ text-decoration: none;}

h2
{
  display: block;
  text-align: center;
  margin: 20px auto;}

.buttons {
  margin: 5px auto;
  user-select: none;
}

.buttons .left
{ float: left;
  width: 24px;
  min-height: 1px}

.buttons .right
{ float: right;
  width: 72px;}

.buttons .right a
{
  margin-left: 10px;}

.buttons a
{
  cursor: pointer;
  color: #0f7bc7;
  text-decoration: none;}

.buttons a:hover {
  color: #0a5082;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto;
  margin-right: auto;}

#header
{ background: #1D1D1D url(../images/header.png) repeat;
  height: 80px;}

#logo
{ width: 825px;
  position: relative;
  height: 50px;}

#logo #logo_text
{ position: absolute;
  top: 5px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover
{ padding: 5px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #1293EE;}

#logo_text h2
{ font-size: 100%;
  padding: 4px 0 0 0;
  color: #DDD;}

#site_content
{ width: 837px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: #FFF;}

#content
{ text-align: left;
  width: 595px;
  padding: 0;}

#footer
{ width: 900px;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center;
  background: #1293EE;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: underline;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}

.console {
  max-height:100px;
  margin-top:3px;
  overflow-y:scroll;
  background-color:#eee;
  border:1px grey solid;
  padding: 5px;
}